{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}


			<h4 class="color-theme ">{{ article.title }}</h4>
			<hr>
			<div class="container-fluid no-padding">
				{{ article.text }}
			</div>
			<hr>
				<p class="no-padding">{% trans 'posted' %}: {{ article.date|date:"d.m.y"}}</p>
				<p class="no-padding">
					{% trans 'by:'%} <a href="/users/get/{{ article.author.pk }}">
						{{ article.author.username }}
					</a>
				</p>
			</div>
		</div>
		<div class ="container">
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
        var d = document, s = d.createElement('script');
        
        s.src = '//task.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
{% endblock %}
